.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 8px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-1 .u-shape-1 {
  width: 202px;
  height: 202px;
  margin: 12px auto 0 3px;
}

.u-section-1 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("images/lily5.jpg");
  background-position: 50% 50%;
  margin: -130px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -421px 3px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 250px;
  height: 78px;
  margin: 182px 33px 53px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    width: 510px;
    height: 510px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -375px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
  }

  .u-section-1 .u-shape-1 {
    width: 176px;
    height: 176px;
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    width: 347px;
    height: 347px;
    margin-top: -106px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -251px;
  }

  .u-section-1 .u-shape-3 {
    width: 156px;
    height: 53px;
    margin-top: 169px;
    margin-right: 26px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 490px;
    margin-top: -107px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -413px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-1 .u-shape-1 {
    width: 166px;
    height: 166px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -94px;
  }

  .u-section-1 .u-shape-2 {
    width: 83px;
    height: 83px;
    margin-top: -320px;
    margin-right: 11px;
  }

  .u-section-1 .u-shape-3 {
    width: 154px;
    height: 48px;
    margin-top: 169px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 973px;
}

.u-section-2 .u-shape-1 {
  height: 286px;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: -223px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 669px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-2 .u-image-1 {
  height: 305px;
  width: 305px;
  background-image: url("images/chen.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 23px 1px 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin: 33px auto 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-2 .u-image-2 {
  height: 305px;
  width: 305px;
  background-image: url("images/YU.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 23px 1px 0;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  margin: 33px auto 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 24px 30px;
}

.u-section-2 .u-image-3 {
  height: 305px;
  width: 305px;
  background-image: url("images/me-2020-800.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 23px 1px 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  margin: 33px auto 0 1px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 817px;
  }

  .u-section-2 .u-shape-1 {
    height: 258px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -195px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 552px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
    width: 254px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-2 {
    height: 254px;
    width: 254px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-3 {
    height: 254px;
    width: 254px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1268px;
  }

  .u-section-2 .u-image-1 {
    height: 290px;
    width: 290px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 290px;
    width: 290px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 290px;
    width: 290px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 390px;
    width: 390px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 390px;
    width: 390px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 390px;
    width: 390px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 320px;
    width: 320px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 320px;
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 320px;
    width: 320px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 266px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 20px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-3 .u-list-1 {
  width: 488px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 242px;
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  grid-gap: 25px 25px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 126px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 126px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 126px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-3 .u-list-1 {
    width: 412px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 146px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 123px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    width: 302px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 438px;
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-3 .u-image-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 193px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 199px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 403px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 416px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 283px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }
}